/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr6drasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr4trasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr5drasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr6trasf6m7vbj.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr5jrasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr6jrasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr6zrasf6m7vbj.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0iipqlx3qulc5a4pnr5trasf6m7q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvadybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvynybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvzdybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvanybx2pqpiif.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvz9ybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbva9ybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvatybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjohbvznybx2pqpa.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvadybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvynybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvzdybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvanybx2pqpiif.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvz9ybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfva9ybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvatybx2pqpiif.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/2b5ec3ff81/snotosansv27o-0nipqlx3qulc5a4pnjxhfvznybx2pqpa.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
