/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-19-7dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-19a7dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-1967dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-19g7dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-1927dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-19y7dqk6yvnkeg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievl2zhzi2ecn5jzbjeets9weq8-19k7dqk6yvm.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megckyb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megcayb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megcgyb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megccyb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megcsyb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megcoyb9lecyvc4a.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(http://127.0.0.1:8000/storage/fonts/c6a2aa5c84/srobotocondensedv25ievi2zhzi2ecn5jzbjeets9weq8-32megcqyb9lecyu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
